<!DOCTYPE html>
<html>
<head>
	<title>MariSaves</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
	<meta property="og:title" content="MSU Services">
	<meta property="og:description" content="Congress Website, MariWork, MariSaves, and MSU app">
	<meta property="og:image" content="https://www.mtlblog.com/u/2019/09/12/d0213bc0d5c50eb8d97bfea09b231884.jpg_1200x630.jpg">

</head>
<body>
	<div class="standard-spacing">
		<p><b><h4>MSU Congress Online Services</h4></b></p>
		<br>
		<p>Student discounts that can apply for Marianopolis students.</p>
		<br>
	</div>
	<div class="standard-spacing">
		<div class="card-columns">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">MSU Congress Website</h5>
					<div class="card-text">Official Wesbite of the MSU Congress.</div><br>
					<a class="btn btn-outline-primary btn-block" href="https://msucongress.com">Visit</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">MariSaves</h5>
					<div class="card-text">Student discounts for Marianopolis students.</div><br>
					<a class="btn btn-outline-primary btn-block" href="/saves">Visit</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">MariWork</h5>
					<div class="card-text">Student Jobs for Marianopolis students.</div><br>
					<a class="btn btn-outline-primary btn-block" href="http://mariwork.herokuapp.com">Visit</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">MSU App</h5>
					<div class="card-text">The MSU app is undergoing development for a wider release on the App Store and on Google Play.</div><br>
					<!-- <a class="btn btn-outline-primary btn-block" href="/http://mariwork.herokuapp.com">Visit</a> -->
				</div>
			</div>
		</div>
	</div>

</body>
</html>