<!DOCTYPE html>
<html>
<head>
	<title>MariSaves</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
</head>
<body>
	<div class="standard-spacing">
		<p><b><h6><a href="/">< MSU Congress Services</a></h6></b></p>

		<p><b><h4>MariSaves</h4></b></p>
		<br>
		<p>Student discounts that can apply for Marianopolis students.</p>
		<p>Contact Congress for more information or if you need a marianopolis.edu email address.</p>
		<br>
	</div>
	<div class="standard-spacing">
		<div class="card-columns">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Codecademy <span class="badge badge-primary">COVID-19</span></h5>
					<div class="card-text">Codecademy Pro is free for students to learn coding lessons.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Asana</h5>
					<div class="card-text">Asana offers offers premium tier planning tools for students.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">ProofHub</h5>
					<div class="card-text">30% discount exclusively for Marianopolis students needing planning software. Contact Congress for more details.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">KFC <span class="badge badge-primary">COVID-19</span></h5>
					<div class="card-text">KFC offers free delivery for bucket orders until May 3 with the code WEDELIVER .</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Domino's Pizza</h5>
					<div class="card-text">Domino's Pizza gives a variety of discounts codes.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Uber Eats <span class="badge badge-primary">COVID-19</span></h5>
					<div class="card-text">Uber Eats gives free delivery for local restaurants.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Cafeteria Discount</h5>
					<div class="card-text">The Marianopolis Cafeteria gives a small discount for purchases with reusable containers.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Wilde Cutting Club</h5>
					<div class="card-text">20% off at Wilde Cutting Club on Tuesdays and Thursdays with Marianopolis student ID</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Leonidas Chocolate <span class="badge badge-warning">Expired</span></h5>
					<div class="card-text">15% off at Leonidas Chocolate with Marianopolis student ID during the month of February 2020</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Juliette & Chocolate <span class="badge badge-warning">Expired</span></h5>
					<div class="card-text">15% off at Juliette & Chocolat with Marianopolis student ID during the month of February 2020</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>