<!DOCTYPE html>
<html>
<head>
	<title>MariSaves</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
</head>
<body>
	<div class="standard-spacing">
		<p><b><h4>MariSaves</h4></b></p>
		<br>
		<p>Student discounts that can apply for Marianopolis students.</p>
		<br>
	</div>
	<div class="standard-spacing">
		<div class="card-columns">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Wilde Cutting Club</h5>
					<div class="card-text">20% off at Wilde Cutting Club on Tuesdays and Thursdays with Marianopolis student ID</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Leonidas Chocolate <span class="badge badge-warning">Expired</span></h5>
					<div class="card-text">15% off at Leonidas Chocolate with Marianopolis student ID during the month of February 2020</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Juliette & Chocolate <span class="badge badge-warning">Expired</span></h5>
					<div class="card-text">15% off at Juliette & Chocolat with Marianopolis student ID during the month of February 2020</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>